.header {
  top: 0px;
  width: 100%;
  position: fixed;
  background-color: #1e1e1e;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  animation: slideDown 0.6s ease-in-out;
}

.header-container {
  width: 100%;
  max-width: 1600px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.header-logo:hover {
  transform: scale(1.1);
}

.header-nav-search-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.header-nav {
  display: flex;
  gap: 70px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #e0e0e0;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.nav-item:hover {
  color: #fff;
  transform: translateY(-3px);
}

.nav-item svg {
  color: #e0e0e0;
  transition: color 0.3s ease;
}

.nav-item:hover svg {
  color: #fff;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  outline: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  max-width: 300px;
}

.search-bar input:focus {
  background-color: #444;
  transform: translateY(-3px);
}

.search-bar button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-bar button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.nav-item .notification-dot {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
}

.notification-dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  width: 300px;
  max-height: 300px;
  background-color: #2b2b2b;
  color: #f1f1f1;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  overflow-y: auto;
  display: none;
}
.notification-time {
  font-size: 0.85em; 
  color: gray;       
  margin-left: 10px;  
  display: block;     }


.nav-item.show-dropdown .notification-dropdown {
  display: block;
}

.notification-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-dropdown li {
  padding: 10px;
  border-bottom: 1px solid #444;
  cursor: pointer;
  transition: background-color 0.2s;
}

.notification-dropdown li:hover {
  background-color: #444;
}

.notification-dropdown p {
  padding: 10px;
  text-align: center;
  color: #f1f1f1;
}

/* Larger screens */
@media (min-width: 1920px) {
  .header-container {
    max-width: 1400px;
  }

  .header-logo {
    font-size: 28px;
  }

  .header-nav {
    gap: 60px;
  }

  .search-bar input {
    max-width: 350px;
  }

  .notification-dropdown {
    width: 350px;
  }
}

@media (max-width: 1440px) {
  .header-container {
    max-width: 1200px;
  }

  .header-logo {
    font-size: 22px;
  }

  .header-nav {
    gap: 30px;
  }

  .search-bar input {
    max-width: 250px;
  }

  .notification-dropdown {
    width: 250px;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
