.post-card {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  color: #e0e0e0;
  margin-bottom: 20px;

  p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .post-actions {
    display: flex;
    justify-content: space-between;

    button {
      background-color: #333;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #555;
      }
    }
  }

  form {
    margin-top: 10px;
    display: flex;
    align-items: center;

    input {
      flex-grow: 1;
      background-color: #2b2b2b;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-right: 10px;
    }

    button {
      background-color: #444;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #666;
      }
    }
  }

  .post-comments {
    margin-top: 15px;

    h4 {
      font-size: 16px;
      color: #b0b0b0;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin: 5px 0;
        color: #ccc;
      }
    }
  }
}