.post-card {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  color: #e0e0e0;
  margin-bottom: 20px;
  animation: fadeIn 0.8s ease-in-out;
  position: relative;

  .post-deleted-note {
    color: rgb(179, 14, 14);
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    font-size: 0.9em;
  }
  .deleted-comment-text {
    color: rgb(179, 14, 14);            
    font-style: italic;     
    font-weight: bold;     
    opacity: 0.7;         
    font-size: 0.7em;
  }
  
  .post-author {
    transition: background-color 0.3s ease;
  }

  .post-content {
    font-size: 18px;
    margin-bottom: 10px;
    animation: fadeInUp 0.7s ease-in-out;
  }

  .post-author-info {
    display: flex;
    align-items: center;
    animation: slideDown 0.7s ease-in-out;
  }

  .post-author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .post-updated-time {
    font-size: 0.85rem;
    color: #888888;
    margin-top: 5px;
    display: block;
  }

  .comment-updated-time {
    font-size: 0.7rem;
    color: #888888;
    margin-top: 5px;
    display: block;
  }

  .post-author {
    font-size: 1.2em;
  }

  .post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    animation: fadeInUp 0.8s ease-in-out;
  }

  .like-button {
    background-color: #3336d8;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      background-color: #9eacda;
      transform: translateY(-3px);
    }
  }

  .edit-comment-input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      border-color: #007bff;
      box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
      outline: none;
    }
  }

  .comment-form {
    display: flex;
    align-items: center;
    animation: fadeInUp 0.9s ease-in-out;

    .comment-input {
      flex-grow: 1;
      background-color: #2b2b2b;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-right: 10px;
    }

    .comment-button {
      background-color: #3f51b5;
      color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #354493;
      }
    }
  }

  .post-comments {
    margin-top: 15px;
    animation: fadeInUp 0.9s ease-in-out;

    h4 {
      font-size: 16px;
      color: #b0b0b0;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      .comment-item-post {
        display: flex;
        align-items: center;
        color: #ffffff;
        margin: 5px 0;

        .comment-username {
          font-weight: bold;
          margin-right: 8px;
          color: #b0b0b0;
        }

        .comment-options {
          margin-left: auto;
        }
      }
    }
  }

  /* Styles for post options button */
  .three-dot-button.post-options-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    z-index: 10;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
    position: absolute;
    top: 10px;
    /* Top right position */
    right: 10px;
    /* Align to the right edge */
    transform-origin: center;
  }

  /* Dropdown menu styling for post options */
  .dropdown-menu.post {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    /* Space below the button */
    right: 10px;
    /* Align with the right edge of the post */
    padding: 5px;
    z-index: 20;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }


  .three-dot-button.comment-options-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
    position: relative;
    margin-left: 10px;
    z-index: 5;
  }

  .dropdown-menu.comment {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    margin-top: 10px;
    right: 0;
    padding: 5px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }


  .dropdown-menu {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;

    button {
      background: none;
      border: none;
      cursor: pointer;
      color: #333;
      padding: 5px 10px;
      display: block;
      text-align: left;
      width: 100%;
      transition: background-color 0.3s ease;

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}