.post-card {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  color: #e0e0e0;
  margin-bottom: 20px;

  .post-author{
    transition: background-color 0.3s ease;
  }

  .post-content {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .like-button {
    background-color: #3336d8;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .like-button:hover {
    background-color: #9eacda;
  }

  .comment-form {
    display: flex;
    align-items: center;

    .comment-input {
      flex-grow: 1;
      background-color: #2b2b2b;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      border: none;
      margin-right: 10px;
    }

    .comment-button {
      background-color: #3f51b5;
      color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .comment-button:hover {
      background-color: #354493;
    }
  }

  .post-comments {
    margin-top: 15px;

    h4 {
      font-size: 16px;
      color: #b0b0b0;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      .comment-item-post {
        display: flex;
        align-items: center;
        color: #ffffff;
        margin: 5px 0;

        .comment-username {
          font-weight: bold;
          margin-right: 8px;
          color: #b0b0b0;
        }

        .comment-options {
          margin-left: auto;
        }
      }
    }
  }

  .three-dot-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 1.5rem;
  }

  .dropdown-menu {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    button {
      background: none;
      border: none;
      cursor: pointer;
      color: #333;
      padding: 5px 10px;
      display: block;
      text-align: left;
      width: 100%;
    }

    button:hover {
      background: #f0f0f0;
    }
  }
}
