.chat-container {
    margin-top: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .user-avatar-chat {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .chat-box {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
  }
  
  .messages-container {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
  }
  
  .sent {
    align-self: flex-end;
    background-color: #007bff;
    color: #ffffff;
  }
  
  .received {
    align-self: flex-start;
    background-color: #e6e6e6;
    color: #000000;
  }
  
  .no-messages {
    text-align: center;
    color: #999999;
    margin-top: 20px;
  }
  
  .loading-message {
    text-align: center;
    font-size: 16px;
    color: #999999;
  }
  
  .send-message {
    display: flex;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
  }
  
  .message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
  }
  
  .send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .send-button:hover {
    background-color: #0056b3;
  }
  