.user-profile {
  padding: 2rem;
  background-color: #f4f4f4;

  .profile-header {
    margin-bottom: 2rem;
    h1 {
      margin-bottom: 0.5rem;
    }

    p {
      color: #666;
    }

    .error {
      color: red;
    }
  }

  .posts-section {
    h2 {
      margin-bottom: 1rem;
    }
  }
}
