.search-result-container {
  position: relative;
  background-color: #2e2e2e;
  padding: 10px;
  color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
  
  .result-section {
    margin-bottom: 20px;
  
    h3 {
      font-size: 1.5em;
      color: #d2e9ec;
      margin-bottom: 10px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      .result-item {
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid #444;
  
        .result-name {
          font-weight: bold;
          color: #ffffff;
        }
  
        .result-email {
          font-size: 0.9em;
          color: #b3b3b3;
        }
  
        .result-post-content {
          font-size: 1.1em;
          color: #e0e0e0;
        }
      }
  
      .result-item:last-child {
        border-bottom: none;
      }
    }
  }
  
  .no-results {
    text-align: center;
    font-size: 1.2em;
    color: #e74c3c;
  }
  
.search-result-header {
  display: flex;
  justify-content: flex-end;
}

.search-close-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.5em;
}

.search-close-button:hover {
  color: #e74c3c;
}